<div class="text-center">
    <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="fa fa-fire"></span>Add</button>
</div>

<div class="modal fade" role="dialog" id="place-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="category" class="form-control" id="place-category">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="place-name">
                </div>
                <p>Address</p>
                <div class="form-group">
                    <label for="street">Street Address</label>
                    <input type="street" class="form-control" id="place-street">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="city" class="form-control" id="place-city">
                </div>
                <div class="form-group">
                    <label for="jurisdiction">State</label>
                    <input type="jurisdiction" class="form-control" id="place-jurisdiction">
                </div>
                <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="zipcode" class="form-control" id="place-zipcode">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="phone" class="form-control" id="place-phone">
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <input type="summary" class="form-control" id="place-summary"
                        placeholder="Enter a brief summary of the location">
                </div>
                <div class="form-group">
                    <label for="services">Services</label>
                    <input type="services" class="form-control" id="place-services"
                        placeholder="Enter a description of services provided">
                </div>
                <div class="form-group">
                    <label for="link">Web Address</label>
                    <input type="link" class="form-control" id="place-link"
                        placeholder="Provide a link to your home page">
                </div>
                <button type="submit" class="btn btn-primary" id="place-submit">Submit</button>
            </form>
        </div>
    </div>
</div>