{{!-- /********************************
 * Place Page for The Village
 * 
 * @author The Village People
 * 
 * 2019-07-13
 ********************************/ --}}

<div class="text-center">
    <button type="submit" class="btn btn-primary btn-md" id="review-btn"><span class="fa fa-fire"></span>Add
        Review</button>
</div>

<!-- Modal -->
<div class="modal fade" role="dialog" id="review-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div>
                    <fieldset class="rating">
                        <legend>Please rate:</legend>
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5
                            stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Good">4
                            stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Average">3
                            stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor">2
                            stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Awful">1
                            star</label>
                    </fieldset>
                </div>
                <br>
                <div class="form-group" id="comments">
                    <label for="comment">Comments</label>
                    <textarea class="form-control" id="user-comment" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="place-submit">Submit</button>
            </form>
        </div>
    </div>
</div>