/********************************
 * Style Sheet The Village
 * 
 * @author The Village People
 * 
 * 2019-07-13
 ********************************/
 .navbar-brand {
  width: 400px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  background: #6fa4a3;
  color: #ffffff !important;
  background-color: #6d9df0;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}
.carousel-caption-verticle {
  font-size: 30px;
  font-weight: 700;

  width:200px;
  z-index:10;
  text-align:center;
  top:50%;
  left:80%;
  bottom:auto;
  -webkit-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);


  color: black;
}

.carousel-caption-horizontal {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.modal-content {
  padding: 15px;
  font-weight: bold;
  /* background-image: url(../images/ep_naturalwhite.png); */
  background-image: url(../images/textured_paper.png);
  background-attachment: fixed;
}

/* Start CSS Styling for Star Rating */
.rating {
  float: left;
}

.rating:not(:checked)>input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked)>label:before {
  content: '★ ';
}

.rating>input:checked~label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating>label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
/* End CSS Styling for Star Rating */

#comments {
  clear: left;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff !important;
  color: #cccccc;
  text-align: center;
  background: #666666;
  /*  bjt border-top: 8px solid #4aaaa5; */
  border-top:10px solid #6d9df0;
  border-bottom: 10px solid #6d9df0;
  margin-top: 20px;
  height: 50px;
}